@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.container {
  width: 1170px;
  margin: 0 auto;
}

.header-content {
  padding: 25px 0;
}

.logo {
  display: inline-block;
  margin-right: 93px;
}

.navigation {
  display: inline-block;
  padding-top: 5px;
  vertical-align: top;
  margin-right: 415px;
}

.navigation-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
}

.navigation-link {
  color: #212121;
}

.email {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
}

.phone-number {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
}
